body{
    background-color: whitesmoke;
    font-family: 'Cairo', sans-serif;
    margin: 0%;
}
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@400;700&display=swap');
.header{
    width: 100%;
    height: 80px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    line-height: 83px;
}
.header .logo{
    margin-left: 30px;
    font-size: 25px;
    font-weight: 900;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.header .divbuttons{
display: flex;
    justify-content: space-between;
    gap: 80px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 15px;
}